
@{
    ViewData["Title"] = "Index";
}

<a href="/Default/Products/">Products</a>
<a href="/Default/Customers/">Customer</a>

<h1>Merhaba Core Opp Projesi</h1>
<h3>Dersler devam ediyor.</h3>

<h1>Mesaj listesi</h1>
<h1>---------------------------</h1>
<h2>@ViewBag.m1</h2>
<h2>@ViewBag.m2</h2>
<h2>@ViewBag.m3</h2>

<h5>@ViewBag.v</h5>



